PORT=5001
NODE_ENV=production

DB_HOST=postgres
DB_PORT=5432
DB_USER=grievance
DB_PASSWORD=grievance
DB_NAME=grievance_db
DATABASE_URL=postgres://grievance:grievance@postgres:5432/grievance_db
# DATABASE_URL=postgresql://neondb_owner:npg_qZkocgA4U1iF@ep-fancy-hill-apksuy57-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require


CLOUDINARY_CLOUD_NAME=dn7eopga9
CLOUDINARY_API_KEY=431997275799969
CLOUDINARY_API_SECRET=OUupBRFPruO1gE0d5Gj5aHkn9uU

ML_SERVICE_URL=https://ml-services-rxcs.onrender.com

CORS_ORIGIN=*